{% extends 'base.html' %}
{% block title %} CREATE | CONSULT {% endblock %}


{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Nueva Consulta</h2>
    </div>
    <div class="card-body">
        <form action="{{url_for('consulta.create_consult')}}" method="post">
            <div class="mb-3">
                <label for="fecha" class="form-label">Fecha</label>
                <input type="date" class="form-control" id="fecha" name="fecha" required>
            </div>
            <div class="mb-3">
                <label for="diagnostico" class="form-label">Diagnostico</label>
                <input type="text" class="form-control" id="diagnostico" name="diagnostico" required>
            </div>
            <div class="mb-3">
                <label for="tratamiento" class="form-label">Tratamiento</label>
                <input type="text" class="form-control" id="tratamiento" name="tratamiento" required>
            </div>
            <div class="mb-3">
                <label for="id_medico" class="form-label">Medico</label>
                <select class="form-select" name="id_medico" id="id_medico">
                    <option value="">-- Select --</option>
                    {% for medico in medicos %}
                        <option value="{{ medico.id_medico }}">{{ medico.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="id_paciente" class="form-label">Paciente</label>
                <select class="form-select" name="id_paciente" id="id_paciente">
                    <option value="">-- Select --</option>
                    {% for paciente in pacientes %}
                        <option value="{{ paciente.id_paciente }}">{{ paciente.nombre }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{{ url_for('consulta.index') }}" class="btn btn-info">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}